[Unit]
Description=Bitfocus Companion
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=companion
Environment=COMPANION_IN_SYSTEMD=1
Environment=COMPANION_SYNC_UDEV_RULES_COMMAND="sudo /usr/local/sbin/companion-sync-udev-rules"
ExecStart=/usr/local/src/companionpi/launch.sh
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target